<h1>Bem vindo!!</h1>
<h3><%= nome_app %></h3>
<strong><h4>*Ambiente de <%= ambiente_rails %></h4></strong>
<p><strong>Data: </strong> <%= data_br(Date.today)%></p>
<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>

<h5><%= @dev %></h5>
